# Terraform / OpenTofu
.terraform/
.opentofu/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc
