tenancy_ocid         = "ocid1.tenancy.oc1..exampleuniqueID"
user_ocid            = "ocid1.user.oc1..exampleuniqueID"
fingerprint          = "aa:bb:cc:dd:ee:ff"
private_key_path     = "~/.oci/oci_api_key.pem"
iam_home_region      = "eu-frankfurt-1"
primary_region       = "eu-frankfurt-1"
standby_region       = "eu-amsterdam-1"
compartment_ocid     = "ocid1.compartment.oc1..exampleuniqueID"
admin_ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD..."
