tenancy_ocid      = "ocid1.tenancy.oc1..exampleuniqueID"
user_ocid         = "ocid1.user.oc1..exampleuniqueID"
fingerprint       = "12:34:56:78:90:ab:cd:ef:12:34:56:78:90:ab:cd:ef"
private_key_path  = "~/.oci/oci_api_key.pem"
compartment_ocid  = "ocid1.compartment.oc1..exampleuniqueID"
workload_region   = "eu-frankfurt-1"
iam_home_region   = "eu-frankfurt-1"
ocir_user_name    = "oracleidentitycloudservice/your.user@example.com"
ocir_user_password = "replace-me"
jwt_token         = "replace-me"
